body {
    margin: 0;
    font-family: 'Times New Roman', 'Arial', 'Roboto', sans-serif;
    color: #926239;
    line-height: 1.6;
}

.main {
    align-items: center;
    height: 100vh;
    background-image: url('../img/2024-08-17\ 13.37.04.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.top {
    display: table;
    height: 100vh;
    box-sizing: border-box;
}

.top header {
    display: table-cell;
    vertical-align: middle;

}

.top,
.bottom {
    width: 100%;
    vertical-align: middle;
}

.bottom {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.top-block {
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    vertical-align: top;
    color: white;
    background: #926239;
}

.content {
    width: 100%;
    margin: 0 auto;

}

.content p {
    display: inline-block;
    max-width: 33%;
    width: 100%;
    padding: 10px;
    height: 300px;
    vertical-align: top;
    box-sizing: border-box;

}

.width-brown {
    background-color: #926239;
    color: white;
}